* {
    box-sizing: border-box;
    margin: auto;
}
body {
    background-color: white;
    height: 100vh;
}
div{
    background-color: lightblue;
    padding: 10px;
    margin: 5px;
    border: 2px solid black;
}
.calculator {
    display: flex;
    flex-direction: column;
    border-radius: 1%;
}
.display{
    display: block;

}
.keyboard {
    display: flex;
    flex-direction: column;
}
.blockOne {
    display: flex;
    flex-direction: row;
}
.blockTwo {
    display: flex;
    flex-direction: row;

}
.blockTwoLeft {
    display: flex;
    flex-direction: column;
}
.blockTwoRight {
    display: flex;

}
.row {
    display: flex;
    flex-direction: row;
    
}


