* {
    box-sizing: border-box;
    margin: auto;
}
::selection {
    display: none;
}
body {
    background-color: white;
    height: 100vh;
    padding: 5px;
}

.calculator {
    display:flex;
    flex-direction: column;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.72);
}

/* flexboxes */
.display{
    display: inline-block;
    height: 5rem;
    text-align: right;
    line-height: 2rem;
    font-size: 1.5rem;
    font-family: monospace;
    margin: 5px;
    border: 3px solid gray;
    border-radius: 10px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10;
    
}
.blockOne {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    padding: 0;
    gap: 10px;
}
.blockOneLeft {
    display: flex;
    flex-direction: row;
    width: 76%;
    margin: 0;
    padding: 0;
    gap: 10px;
}
.blockOneRight {
    display: flex;
    width: 24%;
    margin: 0;
    padding: 0;
}

.blockTwo {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    gap: 10px 10px;
    
}
.blockTwoLeft {
    display: flex;
    flex-direction: column;
    width: 76%;
    margin: 0;
    padding: 0;
}
.blockTwoRight {
    display: flex;
    width: 24%;
    margin: 0 0 10px 0;
    padding: 0;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 0 0 10px 0;
    padding: 0;
    gap: 10px;
    
}

/* button formatting */
.btn {
    display: block;
    color: rgb(50, 50, 50);
    height: 70px;
    margin: auto;
    border: 1px solid gray;
    border-radius: 10px;
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    padding-top: 15px;
    box-shadow: 1px 2px 1px 1px rgba(100,100,100,0.75);

}
.btn-operator {
    background-color: #dddddd;
    width: 100%;
}
.btn-nums, .btn-decimal, .btn-clear {
    background-color: #f9f9f9;
    width: 33.3%;
}
.btn-equals {
    background-color: #4d90fd;
    height: 100%;
    width: 100%;
}

.btn:hover {
    font-weight: 900;
}